<div class="modal fade" id="category_modal_edit">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="v_add">Category Edit</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="card">
					<div class="container p-1">
						<form id="catEditForm">
							{{ cat_edit_form.hidden_tag() }}
							<input type="hidden" name="clickedCatEditRow" id="clickedCatEditRow" value="{{ clickedCatEditRow }}">
							<input type="hidden" name="hiddenCat" id="hiddenCat" value="{{ hiddenCat }}">
							<div class="input-group input-group-sm p-1">
								<span class="input-group-text">Category Description</span>
								{{ cat_edit_form.edit_cat_descr(class="form-control form-control-sm") }}
							</div>
							<div class="input-group input-group-sm p-1 catErrorHTML" style="display: none;">
								<div class="alert alert-danger input-group-text" style="width: 100%;" role="alert">
									<div class="catErrorText"></div>
								</div>
							</div>
							<div class="p-1">
								<div class="container-fluid">
									<div class="row">
										<div class="col-sm-4">
											<a class="btn btn-sm btn-outline-secondary cat_edit_back_but" style="width: 100%;">Back</a>
										</div>
										<div class="col-sm-4">
											<button type="button" class="btn btn-sm btn-outline-danger cat_edit_del_but" style="width: 100%;">Delete</button>
										</div>
										<div class="col-sm-4">
											<button type="submit" class="btn btn-sm btn-outline-primary" style="width: 100%;">Update</button>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>				
			</div>
		</div>
	</div>
</div>
