{% extends 'base.html' %}
{% block content %}
	<div class="card" style="width: 500px; margin: 0px auto;">
		<div class="container p-1">
			<form action="{{ url_for('categories.category_add') }}" method="post">
				{{ cat_add_form.hidden_tag() }}
				<h4>Add Category</h4>
				<div class="input-group input-group-sm p-1">
					<span class="input-group-text">Category Description</span>
					{{ cat_add_form.add_cat_descr(class="form-control form-control-sm") }}
				</div>
				<div class="p-1">
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-6">
								<a class="btn btn-sm btn-outline-secondary" href="{{ url_for('categories.category_list') }}" style="width: 100%;">Back</a>
							</div>
							<div class="col-sm-6">
								<button type="submit" class="btn btn-sm btn-outline-primary" style="width: 100%;">Save</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}