	<div class="card" style="width: 500px; margin: 0px auto;">
		<div class="container p-1">
		<h3>Task Edit</h3>
			<form action="{{ url_for('tasks.taskUpdate', taskUpdateID=selectTask.id) }}" method="post">
				{{ task_edit_form.hidden_tag() }}
				<div class="input-group input-group-sm p-1">
					<span class="input-group-text">Task Description</span>
					{{ 
						task_edit_form.edit_task_descr(class="form-control form-control-sm", cols="30", rows="10")
					}}
				</div>
				<div class="input-group input-group-sm p-1">
					<span class="input-group-text">Start Date</span>
					{{ 
						task_edit_form.edit_task_start_date(class="form-control form-control-sm")
					 }}
				</div>
				<div class="input-group input-group-sm p-1">
					<span class="input-group-text">End Date</span>
					{{
						task_edit_form.edit_task_end_date(class="form-control form-control-sm")
					}}
				</div>
				<div class="input-group input-group-sm p-1">
					<span class="input-group-text">Category</span>
					{{
						task_edit_form.edit_task_category(class="form-select form-select-sm")
					}}
				</div>
				<div class="input-group input-group-sm p-1">
					<span class="input-group-text">Completed</span>
					<div class="input-group-text">
						{% if task_edit_form.edit_task_completed == True %}
						{{
							task_edit_form.edit_task_completed(class="form-check-input", style="border: 1px solid #bebebe", checked=checked)
						}}
						{% else %}
						{{
							task_edit_form.edit_task_completed(class="form-check-input", style="border: 1px solid #bebebe")
						}}
						{% endif %}
					</div>
				</div>
				<div class="p-1">
					<div class="container-fluid">
						 <div class="row">
							<div class="col-sm-4">
								<a href="{{ url_for('tasks.tasksList') }}" class="btn btn-sm btn-outline-secondary" style="width: 100%;">Back</a>
							</div>
							<div class="col-sm-4">
								<a href="{{ url_for('tasks.taskDelete', deletedID=selectTask.id) }}" class="btn btn-sm btn-outline-danger" style="width: 100%;">Delete</a>
							</div>
							<div class="col-sm-4">
								<button type="submit" class="btn btn-sm btn-outline-primary" style="width: 100%;">Update</button>
							</div>
						 </div>
					</div>
				</div>
			</form>
		</div>
	</div>
