<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../static/bootstrap-5.3.2-dist/css/bootstrap.min.css">
    <script src="../../static/bootstrap-5.3.2-dist/js/bootstrap.min.js"></script>
	<script src="../static/jquery.js"></script>
	<link rel="stylesheet" href="../static/myStyles.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	<title>Task Base HTML</title>
</head>
<body>
	<div class="container">

		{% if current_user.is_authenticated %}
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<nav class="nav">
						<a class="nav-link" href="{{ url_for('tasks.tasksList') }}">Task List</a>
					</nav>	
				</div>
				<div class="col-sm-6">
					<nav class="nav float-end">
						<div class="dropdown">
							<a class="nav-link dropdown-button">Settings</a>
							<div class="dropdown-content">
								<a class="EditUserClick" data-bs-target="#EditUserModal" data-bs-toggle="modal">User</a>
							</div>
						</div>
						<a class="nav-link" href="{{ url_for('auth.logout') }}">Log-out</a>
					</nav>	
				</div>	
			</div>
		</div>

	</div>

	<div class="modal fade" id="EditUserModal">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="v_add">Edit User</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="userEditConetentDiv"></div>
			</div>
		</div>
	</div>

	{% endif %}
	{% block content %}{% endblock %}
</body>
<script>

$(document).ready(function() {
	$(".dropdown-button").click(function() {
		var dropdownContent = $(this).next(".dropdown-content");
		dropdownContent.toggle('fast');
	});
});

$(document).on('click', '.EditUserClick', function(){
	$.post('/userEdit', function(UserEditReturnData){
		$('.userEditConetentDiv').html(UserEditReturnData)
	})
})

</script>
</html>
